<div class="page cover-page">
  <div class="cover-logo">
    <svg width="80" height="80" viewBox="0 0 24 24" fill="#185FA5">
      <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"/>
    </svg>
  </div>
  <div class="cover-university">UNIVERSIDAD NACIONAL</div>
  <div class="cover-faculty">FACULTAD DE INGENIERÍA Y CIENCIAS</div>
  <div class="cover-divider"></div>
  <div class="cover-title">{{title}}</div>
  <div class="cover-type">{{documentTypeLabel}}</div>
  <div class="cover-authors">{{authors}}</div>
  <div class="cover-advisor">Asesor: {{advisor}}</div>
  <div class="cover-line">{{lineOfResearch}}</div>
  <div class="cover-bottom">{{city}}, {{country}} - {{year}}</div>
</div>
